<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true"  internalLogFile="LogforLog.txt" internalLogLevel="Off">
  <variable name="logDirectory" value="${basedir}/logs/${date:format=yyyyMMdd}"/>

  <targets async="true"  keepFileOpen="false">
    <!-- to limit per file max size: archiveAboveSize="5000000" -->
    <default-target-parameters xsi:type="File" layout=" ${longdate} ${level} ${processid} ${message}" encoding="utf-8" />

    <target name="MinTarget" xsi:type="File" fileName="${logDirectory}/${date:format=yyyyMMddHH}.txt" />
    <target name="LogCustom" xsi:type="File"
            fileName="${logDirectory}\${event-context:PartName}\${event-context:DirOrPrefix}\${level}${date:format=yyyyMMddHH}${event-context:Suffix}.txt"
            />
    <target name="LogCustomError" xsi:type="File"
            fileName="${logDirectory}\${level}\${event-context:PartName}\${event-context:DirOrPrefix}\${date:format=yyyyMMddHH}${event-context:Suffix}.txt"
    />
  </targets>

  <rules>
    <logger name="LogCustom" final="true"  level="Error" writeTo="LogCustomError" />
    <logger name="LogCustom" final="true" minlevel="Trace"  writeTo="LogCustom" />
    <logger name="*" minlevel="Debug" writeTo="MinTarget" />
  </rules>
</nlog>
