<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostAddress" value="http://devplugin.shandian.com/"/>
    <add key="LocalBasePath" value="../AddIns"/>
    <add key="DownloadTempPath" value="./DownloadTemp"/>
    <add key="DownloadPath" value="./Download"/>
    <add key="ServiceName" value="Service1"/>
    <add key="ProcessName" value="Service.exe"/>
  </appSettings>
</configuration>